{% extends "layout.html" %}

{% load static %}
 
{% block content %}

    <section class="hero">
        <div class="hero-text">
            <H2>Welcome to ElaiTech company</H2>
            <br>
        
            <p>ElaiTech company is specialized in Electrical installation and dealer of all kinds of Electrical accessaries, importation and distribution in all its ramifications etc.</p>
            <br>
            <p>We also provide the service of procurement such as building, structures, road, bridges, dams, public works and conveniences within and outside the federal republic of Nigeria. </p>
            <br>
            <li>We are team of highly skilled and experienced Electrical company in Nigeria, we provide high quality Electrical services for both residence and commercial properties. Our commitment to quality workmanship and exceptional customer service has made us on of the most trusted Electrical contractors in the industry.</li>
            <br>

            <h4>Contact us to get your free appraisal or quote</h4>
            <br>
            
            <h3>+2348077219101, +2347035663707</h3>
            <h3>Email: ellaitech09@gmail.com</h3>
            


            <button>Learn More</button>
        </div>



    <img src="{% static "images/mypic6.jpg" %}" alt="me">
    <img src=" {% static "images/ChristEli.jpg" %} " alt="me">
    <img src="{% static "images/mypics4.jpg" %}" alt="me">
     <img src="{% static "images/company.jpg" %}" alt="me">


       
    </section>
{% endblock content %}

      